* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Geologica', sans-serif;
	color: white;
}

.nomC {
	color: #008ccd;
	text-decoration: none;
}

.section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 19px;
}

.section h1 {
	color: #008ccd;
	margin: 10vh;
}

.sectionD {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


nav a:hover {
	color: #008ccd;
}

.ressources {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.ressources h1 {
	color: #008ccd;
	margin: 5vh;
	text-align: center;
}

.ressources svg {
	margin: 2%;
}

/*-------------------*/
/* LISTE DES PROJETS */
/*-------------------*/

.carousel {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.carousel a {
	text-decoration: none;
}

.slide {
	width: 40vh;
	height: 20vh;
	text-align: center;
	transition: background-color 0.3s ease;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1vh;
}

.slide a {
	text-decoration: none;
}

.slide:hover {
	background-color: #008ccd;
}

.section p {
	margin: 3vh;
}

