* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Geologica', sans-serif;
	color: white;
}

.nomC {
	color: #92d14f;
	text-decoration: none;
}

.section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.section h1{
	color : #92d14f;
	margin: 5vh;
}

.sectionD {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.niveauUn {
	color: #ebf0df;
	text-decoration: none;
}

.niveauDeux {
	color: #b3de85;
	text-decoration: none;
}

nav a:hover {
	color: #92d14f;
}