* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Geologica', sans-serif;
	color: white;
}

.nomC {
	color: #7c01be;
	text-decoration: none;
}

.section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 19px;

}

.section h1{
	color : #7c01be;
	margin: 5vh;
}

.sectionD {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.niveauUn {
	color: #d485ff;
	text-decoration: none;
}

.niveauDeux {
	color: #a22ae3;
	text-decoration: none;
}

.niveauTrois {
	color: #7c01be;;
	text-decoration: none;
}

nav a:hover {
	color: #7c01be;
}