* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Geologica', sans-serif;
	color: white;
}

header {
	position: fixed;
	display: flex;
	height: 10vh;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 1%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	white-space: nowrap;
}

nav li {
	display: inline;
	margin-left: 10px;
}

nav li a{
	text-decoration: none;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 13px 32px;
	transition: .5s;
}

nav a:hover {
	color: red;
}

.left-paragraph {
	font-size: 20px;
	margin-left: 2%;
	margin-right: auto;
	text-decoration: none;
}

h1 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.nom {
	text-decoration: none;
}

.nomC {
	color: red;
	text-decoration: none;
}

footer {
	position: relative;
	bottom: 5%;
	text-align: center;
	width: 100%;
}

.null {
	height: 10vh;
	align-items: center;
	width: 100%;
}