* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Geologica', sans-serif;
	color: white;
}

.nomC {
	color: #ffc000;
	text-decoration: none;
}

.section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 19px;

}

.section h1{
	color : #ffc000;
	margin: 5vh;
}

.ressources {
	height: 90vh;
	display: flex;

	align-items: center;
	justify-content: center;
	width: 100%;
}

.ressources h1{
	color : #ffc000;
	margin: 5vh;
	text-align: center;
}

.ressources svg{
	margin: 2%;
}

.niveauUn {
	color: #fff0bc;
	text-decoration: none;
}

.niveauDeux {
	color: #ffe068;
	text-decoration: none;
}

nav a:hover {
	color: #ffc000;
}